body {
    margin: 0;
}
.prod-desc {
    display: flex;
    flex-direction: column;
}
.ellipses {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.height {
    height: 540px;
}
.prod-img-container {
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.prod-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product:hover {
    outline: 2px solid #ddd;
}
.product div h4 {
    margin: 6px 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.product div span {
    font-size: 0.825rem;
}
.prod-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-btn {
    cursor: pointer;
    padding: 8px 16px;
    margin: 12px 4px;
    width: 100%;
    background-color: #1F513F;
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 2.5rem;
}
.container {
    box-sizing: border-box;
    font-size: 40px;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 10px;
    padding: 0 60px;
}